

.hand-content {
  height: 90vh;
  width: 100%;
}

.htCore thead tr:first-child th:nth-child(1),
.htCore thead tr:first-child th:nth-child(2) {
  border-bottom: none;
}

.htCore thead tr:nth-child(2) th:nth-child(1),
.htCore thead tr:nth-child(2) th:nth-child(2) {
  border-bottom: none;
}
